@import url(https://fonts.googleapis.com/css?family=Chilanka|Livvic|Roboto&display=swap);
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px
}

html {
    box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit
}

.text-content .fluffycourse:first-child {
    display: block
}

.av-quiz-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff !important;
    background-clip: border-box;
    border: 1px solid #dbdbdb;
    margin: 5px 15px;
    font-family: livvic;
}

.av-quiz-card code,
.av-quiz-card pre {
    background: #37373d;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #eee;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word
}

.av-quiz-card-header {
    font-family: Livvic, sans-serif;
    position: relative;
    color: #fff;
    padding: 1.4rem 4.55rem;
    margin-bottom: 0;
    background: #0a7dff;
    background: -moz-linear-gradient(left, #f36d33 0, #514646 100%);
    background: -webkit-linear-gradient(left, #f36d33 0, #514646 100%);
    background: linear-gradient(to right, #3380f3 50%, #ff0909 150%);
    font-size: 18px;
    font-weight: 300;
    width: 100%;
    display: block;
    cursor: pointer
}

.av-quiz-card-header img {
    float: left;
    margin-right: 1rem;
    margin-bottom: 0!important
}

.av-quiz-card-header::after {
    box-sizing: border-box;
    height: 16px;
    width: 16px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    right: 20px;
    top: 13px;
    content: ""
}

.av-quiz-card-header strong {
    font-weight: 600;
    color: #fff
}

.av-quiz-card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    background: #f7f9fc;
    font-family: Livvic, sans-serif;
}

.av-quiz-body-context p {
    font-weight: 600;
    font-size: 18px;
    color: #222
}

.av-quiz-body-problem p {
    font-weight: 400;
    font-size: 14px;
    color: #222;
    line-height: 24px
}

.media {
    width: 100%;
    float: left;
    clear: both;
    margin: 10px 0
}

.media iframe {
    width: 100%!important;
    heigth: 325px!important;
    margin: 0 0 30px 0
}

#log {
    float: left;
    display: block;
    width: 100%
}

#instruction {
    float: left;
    display: block;
    width: 100%;
    font-size: 12px;
    border-bottom: solid 1px #dedede;
    padding: 0 0 3px 0;
    color: #222
}

.av-quiz-footer {
    padding: 1.33rem 1.25rem;
    margin-bottom: 0;
    background-color: #f6f8f9;
    border-top: solid 1px #c6ccd2
}

.alert-box {
    clear: both;
}

.av-quiz-btn {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    color: #8f9bb3;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    border: 1px solid #fdf3f3;
    background-color: #4a4a4a;
    padding: .675rem 2.95rem;
    line-height: 1.5;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 1.9rem;
    font-family: Livvic, sans-serif;
}

.av-quiz-btn:focus,
.av-quiz-btn:hover {
    outline: 0
}

.av-quiz-btn-warning {
    color: #fff;
    border: 1px solid #fdf3f3;
    background-color: #443838
}

.av-quiz-btn-warning:focus,
.av-quiz-btn-warning:hover {
    color: #fff;
    border: 1px solid #fdf3f3;
    background-color: #372d2d
}

.av-quiz-btn-small {
    padding: .475rem 2.95rem!important;
    font-size: 12px!important;
    border: solid 1px #dbdbdb!important;
    font-weight: 400;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important
}

.av-quiz-white-btn {
    background-color: #f7f9fc;
    color: #311104
}

.av-quiz-white-btn:focus,
.av-quiz-white-btn:hover {
    background-color: #f36d33!important;
    color: #fff!important;
    border: solid 1px #f36d33!important
}

.av-quiz-success-btn {
    background-color: #f36d33!important;
    color: #fff!important;
    border: solid 1px #f36d33!important
}

.av-quiz-btn-active {
    border: 1px solid #8f9bb3 inset;
    color: #fff;
    background: #0a7dff
}

.av-quiz-btn-active:focus,
.av-quiz-btn-active:hover {
    border: 1px solid #8f9bb3 inset;
    color: #fff;
    background: #9d4b7f
}

.av-center-block {
    text-align: center
}

.p-border {
    width: 100%;
    float: left;
    border-bottom: solid 1px #f36d33;
    color: #f36d33
}

.av-alerts {
    user-select: none;
    padding: .999rem 4.55rem;
    line-height: 1.5;
    font-family: Roboto, sans-serif;
    display: block;
    text-align: left;
    font-weight: 300;
    font-size: 14px
}

.av-alerts-danger {
    color: red;
    border-top: solid 2px red;
}

.av-alerts-success {
    color: #35aa10;
    border-top: solid 2px #35aa10;
}

.av-card-question {
    float: left;
    margin-right: 20px;
    font-size: 36px;
    font-weight: 700;
    color: #9e9e9e;
    display: none
}

.av-card-question-body {
    overflow: hidden;
    padding: 1.9rem 3.9rem
}

.fluffycourse .av-quiz-body-container {
    display: none
}

.fluffycourse:first-child .av-quiz-body-container {
    display: block
}

.av-card-question-body img {
    display: inline-block;
    height: 180px;
    width: auto;
    margin: 0 30px 20px 0
}

.fluffytsort {
    list-style-type: none;
    margin: 0;
    padding: 0 1.3rem
}

.fluffytsort li {
    width: 55%;
    background: #fff;
    padding: .685rem 2.333rem;
    color: #222;
    margin: 0 0 10px 0;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 300;
    position: relative;
    display: block;
    border: solid 1px rgba(219, 219, 219, .73);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important
}

.fluffytsort li::after {
    position: absolute;
    top: 0;
    color: rgba(255, 255, 255, .45);
    right: 0;
    font-family: FontAwesome;
    content: '\f0c9';
    display: inline-block;
    vertical-align: middle;
    background: #007aff;
    font-size: 22px;
    border-radius: 0 18px 18px 0;
    padding: .7rem 1.366rem;
    cursor: pointer
}

.default {
    background: #cedc98;
    border: 1px solid #ddd;
    color: #333
}

.av-table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}

.av-table-responsive table {
    font-size: 12px;
    color: #222;
    border: solid 1px #dbdbdb!important;
    margin: 0 0 10px 0
}

.av-table-responsive table tr:first-child {
    background-color: #f1f7ff;
    font-weight: 600
}

@media only screen and (max-width:768px) {
    .av-quiz-body-problem table {
        width: 100%!important
    }

    #log button {
        margin: 0 10px 10px 0
    }

    .fluffytsort li {
        width: 100%
    }

    .av-card-question-body img {
        width: 100%;
        height: auto
    }

    .av-quiz-btn {
	margin-bottom: 10px;
    }

    .av-quiz-btn-small {
	width: 100%;
	text-align: left;
	margin: .9rem 0;
	padding: .975rem 2.95rem!important;
    }

   /* .av-alerts {
        position: fixed;
 	bottom: 90px;
	background: #fff;
	left: 0px;
	width: 100?%
 	z-index: 99;	
	    
    }*/
      .av-card-question-body {
	
	 padding: .9rem 0px;
     } 

	.av-quiz-card-header {
		padding: 1.4rem 1.55rem;
}
}
